body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/bg.png);
    background-size: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 800px;
}

#nav{
    position: fixed;
    list-style: none;
    display: inline-flex;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    font-size: 15px;
    margin-left: 600px;
    margin-top: 0px;
    z-index: 1;
    background-color: black;
    color: white;
}

#nav:hover{
    color: #B63517;
}

.kreis{
    background-color:#B63517;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: -370px;
    width: 800px;
    height: 800px;
    border-radius: 500px;
    z-index: -1;
}

h1{
    text-align: center;
    margin-top: 380px;
    font-size: 200px;
    letter-spacing: -15px;
    font-weight: bolder;
    color: white;
}

h2{
    color: white;
    font-size: 60px;
    margin-top: -175px;
    margin-left: 375px;
}

p{
    color: white;
    font-size: 12px;
    margin-top: -40px;
    margin-left: 375px;
}

a{
    text-decoration: none;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 5px;
}

a:hover{
    color: #B63517;
}

.icon{ 
position: absolute;
margin-left: 375px;
margin-top: 385px;
opacity: 50%;
}

.icon:hover{
    opacity: 100%;
}

.icon>a{
    background: none;
}

.smallheadline{
    color: #B63517;
    padding-top: 500px;
    font-size: 15px;
}

.inhalt{
    padding-top: 10px;
}

.here{
    color: #B63517;
}