html {
    background-color: rgb(219, 231, 216);
    background-color: darkgrey;
    height: 800px;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
}
header, body {
    max-width: 500px;
    margin: auto;
}
h1, h3 {
    text-align: center;
}
h1 {
    font-size: 50px;
}
h3 {
    font-size: 20px;
    margin-bottom: 40px;
    opacity: 50%;
}
#toDos #addToDo, #toDos li, input{
    position: relative;
    margin: 2px;
    padding: 20px 50px 20px 50px;
    background-color: white;
    border: none;
    width: 500px;
    font-size: 20px;
    color: #5b795b;
    box-sizing: border-box;
    word-wrap: break-word;
}
input {
    font-size: 18px;
    margin-bottom: -10px;
}
#inputWrapper {
    position: relative;
}
.fa-plus-circle {
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 17px;
    color: #4c5c4c;
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
}
.fa-circle, .fa-check-circle {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0%, -50%);
}
.fa-trash-alt {
    cursor: pointer;
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(0%, -50%);
}
li:hover > .fa-trash-alt {
    visibility: visible;
  }

