body{
    background-image: url(Station_1_Positionierung/images/bg.png);
    background-size: auto;
    width: 800px;
    height: auto;
}

.wrapper{
    position: absolute;
    margin-top: 125px;
    margin-left: 400px;
}
.pinguin{
    position: absolute;
    margin-top: 350px;
    margin-left: 880px;
}

#busch{
    position: absolute;
    margin-top: 75px;
    margin-left: 335px;
    z-index: 1;
}

.headline{
    position: absolute;
    color: white;
    margin-top: 175px;
    margin-left: 470px;
}

.text{
    position: absolute;
    color: white;
    margin-top: 325px;
    margin-left: 470px;

}