body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(background.jpeg);
    background-size: 100%;
    background-position: absolute;
    z-index: 0;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: darkgreen;
    color: darkgrey;
    margin: 5px;
    padding: 5px;
}

a:hover{
    color: darkred;
}

p{
    font-size: 50px;
    font-weight: bold;
    padding: 100px;
    text-align: center;
    color: darkgreen;
}