body{
    background-image: url(Station_7_Videos/images/bg.png);
    background-size: auto;
    width: 800px;
    height: auto;
}

.headline{
    position: absolute;
    color: white;
    margin-top: 150px;
    margin-left: 450px;
}

.wrapper{
    position: absolute;
    margin-top: 125px;
    margin-left: 400px;
}

.plant{
    position: absolute;
    margin-top: 65px;
    margin-left: 330px;
}

.gifts{
    position: absolute;
    margin-top: 400px;
    margin-left: 760px;
    z-index: 1;
}

.video{
    position: absolute;
    margin-top: 150px;
    margin-left: 725px;
}

.headline{
    position: absolute;
    color: white;
    margin-top: 150px;
    margin-left: 475px;
}

.text{
    position: absolute;
    color: white;
    margin-top: 250px;
    margin-left: 475px;
}